{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    {{ titulo }}
{% endblock  %}

{% block body %}

    {# se listara los eventos #}

    
    <div class="row">

    {% for x in listado %}
    <div class="col-4">
        <div class="card">
            <a href="detalle/{{ x.id }}">
                {% if x.foto %}
                    <img src="{{ x.foto.url }}" class="card-img-top" />
                {% else %}
                    <img src="{% static 'img/ev1.jpg' %}" alt="Universidad Galileo" width="180" class="card-img-top" />             
                {% endif %}
            </a>

            <div class="card-body">
                <h5 class="card-title">{{ x.nombre }}</h5>
            <p class="card-text">{{ x.descripcion }}</p>
            <a href="#" class="btn btn-primary">Asignar</a>
            </div>
        </div>
        
    </div>    
    {% endfor %}

    </div>
    
    
{% endblock  %}