{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    {{ titulo }}
{% endblock  %}

{% block body %}

    {# se listara los eventos #}

    
    <div class="row">

    {% for x in listado %}
    <div class="col-4">
        <div class="card">
            <a href="detalle/{{ x.id }}">
                {% if x.foto %}
                    <img src="{{ x.foto.url }}" class="card-img-top" />
                {% else %}
                    <img src="{% static 'img/ev1.jpg' %}" alt="Universidad Galileo" width="180" class="card-img-top" />             
                {% endif %}
            </a>

            <div class="card-body">
                <a href="detalle/{{ x.id }}" class="text-decoration-none text-black">
                    <h5 class="card-title">{{ x.nombre | title }}</h5>
                </a>

                {% if x.diploma %}
                    <span class="badge bg-warning">Incluye Diploma</span>
                {% endif %}
                
                <div class="row">
                    <div class="col">
                        Q {{ x.precio }}
                    </div>
                    <div class="col col d-flex align-items-end flex-column">
                        <a href="#" class="btn btn-primary">Asignar</a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>    
    {% endfor %}

    </div>
    
    
{% endblock  %}