{% extends 'base.html' %}

{% block titulo %}
    {{ titulo }}
{% endblock  %}



{% block body %}

    <h1>{{ titulo }}</h1>

    {# se listara los eventos #}

    {% for x in listado %}

        <a href="detalle/{{ x.id }}">
            {% if x.foto %}
                <img src="{{ x.foto.url }}" />
            {% else %}
                <p>No hay foto</p>
            {% endif %}
        </a>

        <p>Nombre: {{ x.nombre }} </p>
        <p>Precio: {{ x.precio }} </p>
    {% endfor %}
    
{% endblock  %}