{% load static %}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">

            <div class="col">
                <a href="/">
                <img src="{% static 'img/logo-noslogan.png' %}" alt="Universidad Galileo" width="180" />
                </a>
            </div>
            <div class="col-md-8">                
                    <h1 class="title hidden-sm hidden-xs" style="font-weight:200">
                    <span class="text-center text-muted " style="margin-right: 10px; color: #009798">|</span> 
                    Eventos Galileo                    
                    
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary">Facebook</button>
                <button type="button" class="btn btn-success">Gmail</button>
            </div>

      </div>
  </div>
</div>