{% load static %}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">

            <div class="col">
                <a href="/">
                <img src="{% static 'img/logo-noslogan.png' %}" alt="Universidad Galileo" width="180" />
                </a>
            </div>
            <div class="col-md-8">                
                    <h1 class="title hidden-sm hidden-xs" style="font-weight:200">
                    <span class="text-center text-muted " style="margin-right: 10px; color: #009798">|</span> 
                    Eventos Galileo                    
                    </h1>
            </div>
            <div class="col">

                {% if user.is_authenticated %}

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" 
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-secondary">Ingresar</a>
                {% endif %}

            </div>

      </div>
  </div>
</div>